<table>
    <thead>
        <tr>
            <th></th>
            <th>Сума заробітку</th>
            <th>Середній заробіток за день</th>
            <th>Сума неоплачених подій</th>
            <th>Кількість неоплачених подій</th>
            <th>Сума витрачених годин</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Значення</th>
            <td>{{ paidDataSum }} грн</td>
            <td>{{ avgPaidData }} грн</td>
            <td>{{ unpaidDataSum }} грн</td>
            <td>{{ unpaidAmount }}</td>
            <td>{{ hoursDataSum }} год</td>
        </tr>
    </tbody>
</table>
