.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-icon {
        margin-left: 10px;
    }
}

.info_item {
    margin-bottom: 10px;

    .label {
        font-size: 0.7rem;
        line-height: 15px;
    }

    .info {
        font-size: 0.9rem;
        color: #000;
    }
}
