h2 {
  font-size: 1.115rem;
  color: #000;
  margin-bottom: 10px !important;
}

.info_item {
  margin-bottom: 10px;

  .label {
    font-size: 0.7rem;
    line-height: 15px;
  }

  .info {
    font-size: 0.9rem;
    color: #000;
  }
}
