<div class="calendar-days">
  <ng-container [ngTemplateOutlet]="loader"></ng-container>
  @for (date of week(); track date.toISOString(); let i = $index) {
    <div class="week_day" appHighlightToday [dayIndex]="i">
      <p>{{ date.getDate() }}</p>
      <p>{{ CalendarConfig.daysOfTheWeek[i] }}</p>
    </div>
  }
</div>

<div class="divider"></div>

<div class="calendar-body">
  <div class="hours-list">
    @for (hour of CalendarConfig.hours; track $index) {
      <div class="hour-item">
        {{ hour | hour }}
      </div>
    }
  </div>

  <div class="grid-wrapper">
    @for (tile of tiles(); track $index; let i = $index) {
      <app-calendar-tile
        appHighlightToday
        [dayIndex]="i % 7"
        [tile]="tile"
        (updateEvent)="openUpdateDialog($event)"
        (click)="openCreateDialog(tile)"
      />
    }
  </div>
</div>

<ng-template #createEventModal let-data>
  <app-create-event-modal [event]="data.calendarEvent" (eventCreated)="createEventModalRef?.close()">
  </app-create-event-modal>
</ng-template>

<ng-template #updateEventModal let-data>
  <app-update-event-modal [event]="data.calendarEvent" (eventChanged)="updateEventModalRef?.close()">
  </app-update-event-modal>
</ng-template>

<ng-template #loader>
  <div class="loader-container">
    @if (isDataLoading()) {
      <nz-icon nzType="loading" />
    }
  </div>
</ng-template>
