:host {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.custom-date-picker {
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.highlighted {
  background: #1890ff33;
  border-radius: 50%;
  color: #1890ff;
  font-weight: 500;
}

nz-date-picker {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  z-index: -1;
}

::ng-deep
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: none;
}
