:host {
  background-color: white;
  min-height: 60px;
  cursor: pointer;
  width: calc(100% / 7 - 1px);
  position: relative;
  display: block;
  overflow-y: visible;

  &:hover {
    background-color: #e0e0e0;
  }
}

.tile {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 4px;
  height: 100%;
  width: 100%;
  background-color: #c18dff;
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    z-index: 999 !important;
  }

  @media screen and (max-width: 450px) {
    font-size: 10px;
  }
}

.touch-target {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
