:host {
  display: block;
  height: 100%;

  form {
    height: 100%;

    h2 {
      color: black;
    }

    div[formGroupName='client'] {
      margin-bottom: 20px;
    }

    .time {
      margin-right: 20px;
    }

    .btn_block {
      position: absolute;
      bottom: 0;
      padding: 15px 20px 30px;
      background-color: #fff;
      width: 100%;
      left: 0;

      button {
        width: 100%;
        background-color: #000;
        color: #fff;
        padding: 15px;
        outline: none;
        border: none;
      }
    }
  }
}
::ng-deep {
  mat-option.mat-mdc-option {
    min-height: 25px;
    padding-left: 15px;
  }

  mat-form-field {
    width: 100%;
  }

  div.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff;
  }

  div.mat-mdc-text-field-wrapper, div.mat-mdc-form-field-infix {
    max-height: 30px;
    padding-left: 0;
  }

  div.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding: 5px;
  }

  div.mat-mdc-form-field-icon-suffix, mat-datepicker-toggle.mat-datepicker-toggle > button.mat-mdc-icon-button.mat-mdc-button-base {
    position: absolute;
    width: 100%;
    max-height: 30px;
    top: 0;
    padding: 0;
  }

  button.mat-mdc-icon-button.mat-mdc-button-base > * {
    display: none;
  }

  div.mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  div.timepicker-backdrop-overlay {
    z-index: 1001 !important;
  }

  div.timepicker-overlay {
    z-index: 1003 !important;
  }
}






