@use '@angular/material' as mat;
@use '../app/shared/components/body/body-theme';
@use '../app/calendar/components/calendar-header/calendar-header-theme' as calendar-header;
@use 'input-theme';
@use 'typography' as typography;

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$grey-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warnd: $warn
  ),
  typography: typography.$my-typography
));

@mixin app-theme {
  @include body-theme.body-background($theme);
  @include calendar-header.calendar-header($theme);
  @include input-theme.input-theme($theme);
}
