@use "../../../styles/variables" as *;

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color-bg-main;
}

.calendar-area {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.container {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

app-calendar-body {
  min-width: 100vw;
}
