:host {
  display: flex;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  touch-action: pan-y;

  /* Firefox */
  scrollbar-width: none;

  /* IE and Edge */
  -ms-overflow-style: none;

  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

app-calendar-body {
  min-width: 100vw;
}
