.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .dialog-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 10px 24px;
    }

    .dialog-content {
        padding: 10px 24px;
        flex-grow: 1;
        display: block;
        max-height: calc(100vh - 52px);
    }
}
