:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 32px;
    flex-grow: 1;

    .dialog-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    mat-icon {
        cursor: pointer;
    }

    .dialog-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0;
    }
}
