@if (eventForm) {
  <form [formGroup]="eventForm">
    <div class="form-control">
      <p class="custom_input_label">Учень</p>
      <input nz-input [nzAutocomplete]="auto" formControlName="participant" [(ngModel)]="participantsInputValue" />
      <nz-autocomplete [nzDataSource]="filteredOptions()" nzBackfill #auto></nz-autocomplete>
    </div>

    <div class="form-control">
      <p class="custom_input_label">Колір</p>
      <nz-select formControlName="color" [nzCustomTemplate]="customColorSelectTemplate">
        @for (option of TILE_COLORS_OPTIONS; track option.value) {
          <nz-option nzCustomContent [nzValue]="option.value" [nzLabel]="option.label">
            <div class="custom-color-option">
              <div [style.background-color]="option.value"></div>
              {{ option.label }}
            </div>
          </nz-option>
        }
      </nz-select>
    </div>

    <div class="form-control">
      <h2>Дата і час</h2>
      <p class="custom_input_label">Дата</p>
      <nz-date-picker
        [nzAllowClear]="false"
        [ngModel]="event().startTime"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onDateChange($event)"
      ></nz-date-picker>
    </div>

    <div class="time-wrapper">
      <div class="form-control">
        <p class="custom_input_label">Час початку</p>
        <app-time-picker formControlName="startTime" />
      </div>

      <div class="form-control">
        <p class="custom_input_label">Час закінчення</p>
        <app-time-picker formControlName="endTime" />
      </div>
    </div>

    <div class="form-control" formGroupName="recurrence">
      <p class="custom_input_label">Повторювати</p>
      <nz-radio-group formControlName="frequency">
        @for (option of RECURRENCE_OPTIONS; track option.value) {
          <label nz-radio [nzValue]="option.value">{{ option.label }}</label>
        }
      </nz-radio-group>
    </div>
  </form>
}

<ng-template #customColorSelectTemplate let-selected>
  <div class="custom-color-option">
    <div [style.background-color]="selected.nzValue"></div>
    {{ selected.nzLabel }}
  </div>
</ng-template>
