@use "../../../../../styles/variables" as *;

:host,
form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.time-wrapper {
  display: flex;
  gap: 16px;
  width: 100%;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;

    .form-field {
      width: 100%;
    }
  }
}

.custom-color-option {
  display: flex;
  align-items: center;
  gap: 8px;

  div {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }
}
