:host,
form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.custom_input_label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #000;
}

.time-container {
  display: flex;
  gap: 10px;
}

.time-wrapper {
  display: flex;
  gap: 48px;
}

.time-control {
  width: 120px;
}

button[type='submit'] {
  margin-top: auto;
}

@media (max-width: 680px) {
  .time-wrapper {
    flex-direction: column;
    gap: 0px;
  }
}
