@use '@angular/material' as mat;
@use '../../../../styles/theme' as theme;

:host {
    height: 100vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-right: 1px solid
        mat.get-theme-color(theme.$theme, foreground, divider);
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;

    i {
        font-size: 28px;
    }
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    cursor: pointer;

    &:hover,
    &.active {
        background-color: mat.get-theme-color(theme.$theme, primary, 50);
    }
}

.footer {
    margin-top: auto;
}
