@use '@angular/material' as mat;
@use '../../../../styles/theme' as theme;

:host {
    min-height: 100vh;
    display: flex;
    position: relative;
}

app-sidebar {
    position: sticky;
    top: 0;
}

main {
    flex-grow: 1;
    background-color: mat.get-theme-color(theme.$theme, background, background);
}
