<nz-drawer
  [nzVisible]="visible()"
  nzPlacement="left"
  [nzClosable]="false"
  (nzOnClose)="closeDrawer()"
  nzWrapClassName="admin-drawer-overlay"
>
  <ng-container *nzDrawerContent>
    <div class="drawer-header">
      <div class="brand">
        <span class="brand-mark">T</span>
        <span class="brand-name">Teach<span class="brand-name-up">Up</span></span>
        <span class="crumb">Admin</span>
      </div>
      <button class="close-btn" type="button" (click)="closeDrawer()" aria-label="Close menu">
        <nz-icon nzType="close" />
      </button>
    </div>

    <div class="drawer-content">
      <app-admin-nav variant="drawer" (navigated)="closeDrawer()" (signOut)="signOut()" />
    </div>
  </ng-container>
</nz-drawer>
