/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}

p,
h2 {
  margin: 0 !important;
}

.highlight_today {
  background-color: #eff9ef !important;

  &:hover {
    background-color: #b2d8b2 !important;
  }
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
}

.timepicker-overlay,
.timepicker-backdrop-overlay {
  z-index: 1001 !important;
}

input,
textarea,
select {
  font-size: 16px;
}
.ant-select-dropdown .cdk-virtual-scroll-viewport {
  max-height: 320px !important;
}

.ant-modal {
  width: 60vw !important;

  @media screen and (max-width: 790px) {
    width: 95vw !important;
  }

  @media screen and (max-width: 500px) {
    .ant-modal-header,
    .ant-modal-body {
      padding: 16px;
    }
  }
}

.ant-select-dropdown {
  position: absolute !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: none;
}
.ant-picker-cell-inner.highlighted {
  background: #1890ff33;
  border-radius: 50%;
  color: #1890ff;
  font-weight: 500;
}
