/* You can add global styles to this file, and also import other style files */
@use 'styles/theme' as my-theme;
@use '@angular/material' as mat;

html,
body {
    min-height: 100vh;
    //overflow-x: hidden;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
}

p,
h2 {
    margin: 0 !important;
}

.action_btn_container {
    position: absolute;
    bottom: 0;
    padding: 0 20px 30px;
    background-color: #fff;
    width: 100%;
    left: 0;

    button {
        width: 100%;
    }
}

button {
    width: 100%;
}

.highlight_today {
    background-color: mat.get-theme-color(
        my-theme.$theme,
        accent,
        50
    ) !important;

    &:hover {
        background-color: mat.get-theme-color(
            my-theme.$theme,
            accent,
            100
        ) !important;
    }
}
