button {
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #e0e0e0;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        background-color: #e0e0e0;
    }
}

img {
    width: 20px;
    height: 20px;
}
